* {
    margin: 0;
    box-sizing: border-box;
}

.page {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cover {
    background-color: white;
    width: 30em;
    height: 30em;
    position: relative;
    border-radius: 1em;
    box-shadow: 0 0.188em 1.550em rgb(156, 156, 156);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.logout-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}